<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .processing-icon {
            margin-left: 5px;
        }

        .parser-count {
            font-size: 0.9em;
            color: #888;
            margin-left: 3px;
        }

        .green-check {
            color: green;
        }

        #autocomplete-list {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            top: 100%;
            left: 0;
            right: 0;
        }

        #autocomplete-list div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

        #autocomplete-list div:hover {
            background-color: #e9e9e9;
        }

        #search-results {
            margin-top: 20px;
        }
    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Парсер технологий компаний</title>
</head>
<body>
<h1>Парсер технологий компаний</h1>
<form action="/digsearch/toggle_parser" method="post">
    <a id="parser-status">Парсер остановлен</a>
    <button id="parser-button" type="submit">Запустить</button>
    <span id="restart-icon" style="display: none;">⚠️</span>
</form>

<h2>Список компаний</h2>

<input type="text" id="searchInput" placeholder="Введите имя компании" autocomplete="off">
<button onclick="searchEmployees()">Search</button>
<div id="autocomplete-list"></div>
<div id="search-results"></div>

<ul id="company-list">
    {% for item in search_list %}
    <li>
        {{ item.company_name }}
        {% set statuses = item.parser_statuses if item.parser_statuses is mapping else item.parser_statuses|fromjson %}
        {% for parser, status in statuses.items() %}
        {% if status %}
        <span class="parser-icon green-check">✅</span>
        <span class="parser-names">{{ parser.upper() }}</span>
        {% endif %}
        {% endfor %}
        {% if item.active_parsers_count > 0 %}
        <span class="processing-icon">🔄</span>
        <span class="parser-count">{{ item.active_parsers_count }}</span>
        {% endif %}
        <a href="/digsearch/delete_company/{{ item.id }}">Удалить</a>
    </li>
    {% endfor %}
</ul>

<h2>Список отраслей</h2>
<form action="/digsearch/add_industry" method="post">
    <input type="text" name="industry_name" placeholder="Введите название отрасли">
    <button type="submit">Добавить отрасль</button>
</form>
<ul id="company-list">
    {% for item in industry_list %}
    <li>{{ item.name }} <a href="/digsearch/delete_industry/{{ item.id }}">Удалить</a></li>
    {% endfor %}
</ul>

<h2>Список технологий</h2>
<form action="/digsearch/add_technology" method="post">
    <input type="text" name="technology_name" placeholder="Введите название технологии">
    <button type="submit">Добавить технологию</button>
</form>
<ul id="company-list">
    {% for tech in technologies %}
    <li>{{ tech.name }} <a href="/digsearch/delete_technology/{{ tech.id }}">Удалить</a></li>
    {% endfor %}
</ul>

<h2>Компании с доступными технологиями</h2>
<form action="/digsearch/show_technologies" method="post">
    <select name="selected_company">
        {% for company in companies %}
        <option value="{{ company.name }}"
                {% if selected_company and company.name== selected_company %}selected{% endif %}>{{ company.name }}
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="Отобразить">
</form>

{% if selected_company %}
<h2>Технологии для {{ selected_company }}</h2>
<table border="1">
    <thead>
    <tr>
        <th>Название технологии</th>
        <th>Дата</th>
        <th>Источник</th>
    </tr>
    </thead>
    <tbody>
    {% for tech in company_technologies %}
    <tr>
        <td>{{ tech.technology }}</td>
        <td>{{ tech.date.strftime('%Y-%m-%d') if tech.date else 'N/A' }}</td>
        <td><a href="{{ tech.url }}">{{ (tech.url or 'N/A')|truncate(30, True, "...") }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<script>

    var complist = [];

    function updateDropdown(value) {
        var dropdown = document.querySelector('.search-dropdown');
        dropdown.innerHTML = ''; // Очищаем выпадающий список

        // Фильтруем массив данных в соответствии с введенным значением
        var filteredData = data.filter(function (item) {
            return item.toLowerCase().includes(value.toLowerCase());
        });

        // Создаем элементы списка и добавляем их в выпадающий список
        filteredData.forEach(function (item) {
            var listItem = document.createElement('div');
            listItem.textContent = item;
            listItem.classList.add('search-dropdown-item');
            listItem.onclick = function () {
                selectItem(item);
            };
            dropdown.appendChild(listItem);
        });

        dropdown.style.display = filteredData.length > 0 ? 'block' : 'none';

        // Отправляем введенный символ в базу данных
        sendToDatabase(value);
    }

    document.getElementById('searchInput').addEventListener('input', function () {
        const input = this.value;
        if (!input) {
            document.getElementById('autocomplete-list').innerHTML = '';
            return;
        }
        fetch(`/digsearch/autocomplete?query=${input}`)
            .then(response => response.json())
            .then(data => {
                const autocompleteList = document.getElementById('autocomplete-list');
                autocompleteList.innerHTML = '';
                data.matches.forEach(function (item) {
                    // let div = document.createElement('div');
                    // div.textContent = item;
                    // div.addEventListener('click', function() {
                    //     document.getElementById('searchInput').value = this.textContent;
                    //     autocompleteList.innerHTML = '';
                    //     searchEmployees();
                    // });
                    // autocompleteList.appendChild(div);
                    complist.push(item)
                });
            });
    });

    function searchEmployees() {
        const name = document.getElementById('searchInput').value;
        fetch(`/digsearch/employees/${name}`)
            .then(response => response.json())
            .then(data => {
                const results = document.getElementById('search-results');
                results.innerHTML = '';
                if (data.employee) {
                    results.innerHTML = `<p>Name: ${data.employee.name} - ID: ${data.employee.id}</p>`;
                } else {
                    results.innerHTML = '<p>No employee found.</p>';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                results.innerHTML = '<p>Error fetching data.</p>';
            });
    }
</script>


<script>
    // Пример массива данных для выпадающего списка

    function selectItem(value) {
        var input = document.querySelector('.search-input');
        input.value = value;
        document.querySelector('.search-dropdown').style.display = 'none';

        // Отправляем выбранный элемент в базу данных
        sendToDatabase(value);
    }

    function sendToDatabase(value) {
        // Здесь должен быть код для отправки значения в базу данных
        console.log('Sending to database:', value);
    }


    document.addEventListener("DOMContentLoaded", function () {
        const eventSource = new EventSource('/digsearch/sse');

        eventSource.onmessage = function (event) {
            const data = JSON.parse(event.data);

            // Обновляем текст кнопки в зависимости от состояния парсера
            if (data.parser_running) {
                document.getElementById("parser-status").innerText = "Парсер запущен";
                document.getElementById("parser-button").innerText = "Остановить";
            } else {
                document.getElementById("parser-status").innerText = "Парсер остановлен";
                document.getElementById("parser-button").innerText = "Запустить";
            }

            // Показываем или скрываем иконку перезапуска в зависимости от состояния флага
            if (data.should_stop) {
                document.getElementById("restart-icon").style.display = "inline";
                document.getElementById("parser-button").disabled = true
            } else {
                document.getElementById("restart-icon").style.display = "none";
                document.getElementById("parser-button").disabled = false
            }

            updateCompanies(data.company);
        };

        eventSource.onerror = function (error) {
            console.error("SSE failed:", error);
        };
    });

    function updateCompanies(data) {
        const companyList = document.querySelector('#company-list');
        companyList.innerHTML = "";  // clear the current list

        data.forEach(item => {
            const listItem = document.createElement('li');
            listItem.innerHTML = item.company_name;

            // Десериализация строки JSON в объект
            const statuses = JSON.parse(item.parser_statuses) || {};

            for (let parser in statuses) {
                if (statuses[parser]) {
                    const parserIcon = document.createElement('span');
                    parserIcon.className = 'parser-icon';
                    parserIcon.textContent = '✅';
                    listItem.appendChild(parserIcon);

                    const parserName = document.createElement('span');
                    parserName.className = 'parser-names';
                    parserName.textContent = parser.toUpperCase();
                    listItem.appendChild(parserName);
                }
            }

            if (item.active_parsers_count > 0) {
                const icon = document.createElement('span');
                icon.className = 'processing-icon';
                icon.textContent = '🔄';
                listItem.appendChild(icon);

                const count = document.createElement('span');
                count.className = 'parser-count';
                count.textContent = item.active_parsers_count;
                listItem.appendChild(count);
            }

            // Add the delete link for each company
            const deleteLink = document.createElement('a');
            deleteLink.href = `/digsearch/delete_company/${item.id}`;
            deleteLink.textContent = ' Удалить';
            listItem.appendChild(deleteLink);

            companyList.appendChild(listItem);
        });
    }


    document.getElementById('searchInput').addEventListener('input', function () {
        let input = this.value;
        if (!input) {
            document.getElementById('autocomplete-list').innerHTML = '';
            return;
        }
        fetch(`/digsearch/autocomplete?query=${input}`)
            .then(response => response.json())
            .then(data => {
                let autocompleteResults = document.getElementById('autocomplete-list');
                autocompleteResults.innerHTML = '';
                data.matches.forEach(function (item) {
                    let div = document.createElement('div');
                    div.innerHTML = item;
                    div.addEventListener('click', function () {
                        document.getElementById('searchInput').value = this.innerText;
                        autocompleteResults.innerHTML = '';
                    });
                    autocompleteResults.appendChild(div);
                });
            });
    });

</script>

</body>
</html>
